.custom-header {
  position: absolute;
  width: 100%;
  padding: 15px 0;
  z-index: 10;

  /* efecto difuminado */
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}

/* logo */
.logo img {
  height: 40px;
}

/* teléfono */
.phone {
  color: white;
  font-weight: 500;
}

/* icono */
.icon {
  height: 24px;
  filter: invert(1); /* blanco */
}